body {
	background-color: #e1e0e8;
	background: linear-gradient(to bottom, rgba(0,0,0,.01) 100px, rgba(0,0,0,.5));
	margin:0;
}
ul, ol{
	margin:0;
}
a {
	text-decoration: none;
	color: red;
}
a:hover {
	text-decoration: none;
	font-style: bold;
}
::selection {
	background-color: #fff;
/*	color: white;*/
}
.content {
	margin: 0 auto;
	background-color: #cec1de;
	max-width: 1200px;
}
.header {
	background-color: #5e3e84;
	height: 200px;
}
.logo {
	padding-right: 0; 
	font-size: 40px;
	font-style: bold;
/*	background-color: rgba(1,100,255,0.1);*/
	color: #cec1de;
	text-align: right;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0; 
	margin-top: 0; 
	max-width: 1200px;
	border: solid 1px white;
}
.nav {
	background-color: #cccccc;	
}
ul.nav {
	margin-left:0px;
	padding-left: 0px;
	list-style: none;
/*	border-bottom: 1px dashed #000;*/
}
.nav li {
	display: inline;
}
.searchForm {
	font-size: 1.2em;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	border: solid 1px yellow;
}
.searchForm .label {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
	color: rgba(255,255,255,.5);
	border: solid 1px red;
}
.searchForm input[type="submit"]{
	margin-left: 220px;
	padding: 10px 25px;
	font-size: 1em;
	color: white;
	background: #5e3e84;
	background: linear-gradient(to bottom, rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
	border-radius:5px;
	box-shadow: 0 0 4px white;
}
.searchForm input[type="submit"]:hover{
	background-color: #5e3e84;
	background-color: linear-gradient(to bottom, rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
}
.searchForm input[type="text"], .searchForm textarea {
	border-radius: 5px;
	border: none;
	background-color: rgba(255,255,255,.5);
	color: rgba(255,255,255,1);
	font-size: 1.2em;
	box-shadow: inset 0 0 10px rgba(255,255,255,.75);
	width: 500px;
	padding: 5px;
}
.searchForm input[type="text"]:focus, .subform textarea:focus {
	background-color: white;
	color: black;
}
table {
	padding: 5px 0 5px 0;
}
table.countries{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	border-collapse: collapse;
	color: #000;
}
table.countries caption {
	font-size: 30px;
	padding: 20px 0 20px 0;
}

table.countries td{
	padding: 5px 4px 4px 5px;
}
table.countries th, table.countries td {
	border: 1px solid #5e3e84;
	
}
table.countries th {
	text-align: left;
	background: #a58fbe;
	background: linear-gradient(to bottom, #a58fbe, #cec1de, #a58fbe);
	padding: 8px 4px 6px 5px;
}
table.countries tbody tr:nth-of-type(odd){background-color: #a58fbe;}
table.countries tbody tr:nth-of-type(even){background-color: #cec1de;}
table.countries tbody tr:hover{
	background-color: #5e3e84;
	color: #cec1de;
}
.footer {
	background-color: #888;
	height: 200px;
}
.author {
	margin: 55px 0 0 0;
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
	border: solid 3px white;
}